/* external fonts  */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

.font-macondo-regular {
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
}

.font-trade-regular {
    font-family: "Trade Winds", serif;
    font-weight: 400;
    font-style: normal;
}

::selection {
    color: white;
    background-color: rgb(23, 255, 23);
}

.footer a:hover {
    color: rgb(23, 255, 23);
}

#skeleton-lazy {
    display: none;
}

#not-found {
    display: none;
}